@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="border:8px solid Tomato;background-color:powderblue";>
    <h1 style="color:darkred;">India Mart</h1>
    <p class="lead"   style="background-color:powderblue; color :darkblue;">Welcome To IndiaMart. Here you can find list of different froducts and their sellers. </p>

</div>

<div class="row">
    <div class="col-md-4"style="background-color: lightyellow;">
        <h2>SELLERS</h2>
        <p>
            Below you can find the list of all available Sellers.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44312/Seller/List">Go to Sellers &spades;</a></p>
    </div>
    <div class="col-md-4"style="background-color: lightyellow; ">
        <h2>PRODUCTS</h2>
        <p>Below you can find the list of all available Prodcts.</p>
        <p><a class="btn btn-default" href="https://localhost:44312/Product/List">Go to Products &clubs;</a></p>
    </div>
    <div class="col-md-4"style="background-color: lightyellow; ">
        <h2>SELLERS+PRODUCTS</h2>
        <p>View the Seller and Products</p>
        <p><a class="btn btn-default" href="">Go to Seller & Products &hearts;</a></p>
    </div>
</div>